<%- include('partials/header') %>
<div class="container">
    <h2>Edit Blog</h2>
    <form action="/edit/<%= id %>" method="POST">
        <div class="mb-3">
            <input type="text" class="form-control" name="title" value="<%= post.title %>">
        </div>
        <div class="mb-3">
            <textarea class="form-control" name="content" rows="3"><%= post.content %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
<%- include('partials/footer') %>